autocommand==2.2.2
backports.tarfile==1.2.0
importlib-metadata==8.7.1
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco-text==4.0.0
more-itertools==10.8.0
pyqt5==5.15.5
pysocks==1.7.1
tomli==2.4.0
zipp==3.23.0